#music img,#music,#musicBox{
	width: 40px;
	height: 40px;
	z-index: 99998;
}
#musicBox{
	position: fixed;
	right: 1.5%;
	top: 10%;
}
#music{
	animation:turn 5s linear infinite;
	animation-play-state:running;
}
#music:hover img{
	content: url(../img/music_clic.png);
}
@keyframes turn{
	0%{-webkit-transform:rotate(0deg);}
	25%{-webkit-transform:rotate(90deg);}
	50%{-webkit-transform:rotate(180deg);}
	75%{-webkit-transform:rotate(270deg);}
	100%{-webkit-transform:rotate(360deg);}
}

